{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}
{% assign page_description = page.description | default: site.description %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% if page.title and page.url != '/' %}{{ page.title }} | {% endif %}{{ author_name }}</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{{ page_description }}">
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
